{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
  <h1>Events</h1>
  <hr>
  <a href="{{url_for('main.event_companies', event_id = event_data['id'])}}">Back</a>
  <br>
  <div>
    <h3>{{ event_data['name'] }}</h3>
    <p>Last scrape: {{event_data['last_time_scraped'].split()[0]}}</p>
  </div>

  <br><br>
  <div>

    <form action="{{ url_for('main.add_event') }}" method="post">

        <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Domain</th>
              </tr>
            </thead>
            <tbody id="events">
              {% for company in companies %}
              <tr>
                <td>{{ company['name'] }}</td>
                <td>
                    <input type="text" class="form-control" id="company_domain_{{company['id']}}" placeholder="Domain" name="company_domain_{{company['id']}}">
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <button type="submit" class="btn btn-primary">Add domains</button>
    
      </form>
    

  </div>
</div>

{% endblock %}
